ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(32, 137, 132)
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 20px;
    background-color: rgb(32, 137, 132);
  }

.common{
    text-align:center;
    position: static;
    font-family: Arial, Helvetica, sans-serif;

}
.mainbody{
    background-color:beige;
    right:5px;
    left:5px;
    margin-top: 100x;
    font-style:italic;
}

.img{
    width:50%;
    display: block;
    margin-left:auto;
    margin-right:auto;
}

.footer{
    height:50px;
    background-color:rgb(32,137, 132);
    color: white;
    line-height:50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bold;
    text-align:center;
}

.box2{
  background-color: rgba(190, 174, 158, 0.733);
  width: 500px;
  padding: 50x;
  margin: 10px;
  text-align: center;
    
}